.navbar {
    background-color: salmon;
}

.sub-nav {
    margin-left: 80px;
}

.image {
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}

.home, .saved {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.home:hover, 
.saved:hover {
    background-color: tomato;
    text-decoration: none;
}

.sub-sub-title {
    text-align: center
}

.saved-bubble {
    display: none;
    z-index: 200;
    position: fixed;
    right: 100px;
    background: skyblue;
    border-radius: 15px;
    border: solid rgba(20, 20, 20, 0.5);
    padding: 5px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.saved-text{
    margin: 0;
    text-align: center;

}

.nav-title {
    border: solid salmon;
    /* text-align: center; */
}
.subhead {
    float: right;
    margin-right: 80px;
}

.no-display {
    display: none;
}

.subhead .home {
    margin-right:20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.button {
    margin: 20px;
}

.first {
    height: 200px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    background-color: salmon;
}

.no-scrape{
    text-align: center;
    padding-top: 40px;
}

.articles {
    background-color: white;
    position: relative;
}

#art {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
    /* position: absolute; */
}

#title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size:24px;
    border-bottom: solid salmon;
    display: flex;
    justify-content: space-between;
}

#link {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;   
}

.save {
    font-size: 14px;
    margin-bottom: 5px;
}