.navbar {
    background-color: salmon;
}

.image {
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}

.home {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.home:hover {
    background-color: tomato;
    text-decoration: none;
}

.saved {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.saved:hover {
    background-color: tomato;
    text-decoration: none;
}

.subhead {
    margin:20px;
}

.subhead .home {
    margin-right:20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.button {
    margin: 20px;
}

.first {
    height: 200px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    background-color: salmon;
}

.no-scrape{
    text-align: center;
    padding-top: 40px;
}

.articles {
    background-color: white;
}

#art {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size:24px;
    border-bottom: solid salmon;
    display: flex;
    justify-content: space-between;
}

#link {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;   
}

.save {
    font-size: 14px;
    margin-bottom: 5px;
}