<div class="navbar">
  <div class="sub-nav">

    <img class="image" src="/images/sportsbro.jpg" alt="sport bro">

    <div class="nav-title"> 
      <h1> Sports Bro </h1>
 
      <h3> The Best Way to Filter Your Sports News </h3>
    </div>

    <div class="subhead"> 
      <a class="home" href="/"> Home </a>
      <a class="saved" href="/saved"> Saved Articles </a>
    </div>
  </div>
</div>

<h1 class="sub-sub-title"> Saved Articles </h1>

<div class="container"> 

    <div class="articles"> 
    {{#each article}}
        <div id="art">
            <div id="title"> 
                {{this.title}}
                <br>
                <form>
                  <button value-id="{{this._id}}" class="btn btn-success delete" >Delete</button>
                </form>
            </div>
            <div id="link">
               <a href="{{this.link}}" target="_blank"> {{this.link}} </a>
            </div>
        </div>
    {{/each}}
    <div> 
</div>